{% extends "main.html" %} 

{% block content %}
<h3>hello home template<h3>

<div>

    <a href="{% url "create-Room" %}">Create Room</a>

    <div>
        {% for x in rooms %}
            <div>
            <a href="{% url 'update-Room' x.id %}">Edit</a>
                <span>@{{x.host.username}}<span>
                <p>{{x.id}} --<a href= {% url 'room' x.id %} > {{x.name}} </a><p>
                <sma>{{x.topic.name}}<sma>
                <hr>
            <div>
        {% endfor %}
    <div>

<div>


{% endblock %}